<a class="uk-button uk-button-default" href="#modal-sections" data-id="{{id}}" uk-toggle>
                <div class="uk-card uk-card-hover uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="{{imgSrc}}" alt="Oops...Image not Found">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{name}}</h3>
                            <p>${{itemPrice}}</p>
                        </div>
                    </div>
        </a>

        <div id="modal-sections" data-id="{{id}}" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">{{name}}</h2>
                </div>
                <div class="uk-modal-body">
                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                            <div class="uk-card-media-left uk-cover-container">
                                <img src="{{imgSrc}}" alt="Oops, Image not Found" uk-cover>
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div>
                                <div class="uk-card-body">
                                    <h5 class="uk-card-title">Sizes:</h5>
                                    <div class="colors-available">
                                        {{#each sizes}}
                                            {{sizes/sizes}}
                                        {{/each}}
                                    </div>
                                    <h5 class="uk-card-title">Colors:</h5>
                                    <div class="size-available">
                                        {{#each colors}}
                                            {{colors/colors}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>{{description}}</p>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Continue Shopping</button>
                    <button class="uk-button uk-button-primary" type="button">Add to Cart</button>
                </div>
            </div>
        </div>