<div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="{{mens.imgSrc}}" alt="Image not Found">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{mens.department}} {{mens.subclass}}</h3>
                <p>Hot Jackets for Cool weather!</p>
            </div>
        </div>
    </div>
     <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="{{womens.imgSrc}}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{womens.department}} {{womens.subclass}}</h3>
                <p>Winter is here!</p>
            </div>
        </div>
    </div>
</div>